签入/ReflectionTest/RM/Service References/MDMServiceTest/MDMService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="lbj" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="lbj" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="lbj">
      <s:element name="AddCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:CustomerEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CustomerEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="shortname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="egname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="egaddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="currency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="property" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="salesman" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="icnname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="icncreditcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="icnaddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="icnphone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="icnbank" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="icnaccount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="flag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PROCESS_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DATA_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KLART" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SYSTEM_CODE" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddCustomerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddBsupplier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="supplierEntity" type="tns:BsupplierEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BsupplierEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="shortname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="egname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="egaddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="currency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="property" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="salesman" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="flag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="collectionEntity" type="tns:ArrayOfBsupplier_collectionEntity" />
          <s:element minOccurs="0" maxOccurs="1" name="PROCESS_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DATA_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KLART" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SYSTEM_CODE" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBsupplier_collectionEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="bsupplier_collectionEntity" nillable="true" type="tns:bsupplier_collectionEntity" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="bsupplier_collectionEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="icnbank" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="icnaddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="icncreditcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="icnaccount" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddBsupplierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddBsupplierResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:AddCustomer" />
  </wsdl:message>
  <wsdl:message name="AddCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:AddCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="AddBsupplierSoapIn">
    <wsdl:part name="parameters" element="tns:AddBsupplier" />
  </wsdl:message>
  <wsdl:message name="AddBsupplierSoapOut">
    <wsdl:part name="parameters" element="tns:AddBsupplierResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="AddCustomer">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">添加客户</wsdl:documentation>
      <wsdl:input message="tns:AddCustomerSoapIn" />
      <wsdl:output message="tns:AddCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddBsupplier">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">添加供应商</wsdl:documentation>
      <wsdl:input message="tns:AddBsupplierSoapIn" />
      <wsdl:output message="tns:AddBsupplierSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCustomer">
      <soap:operation soapAction="lbj/AddCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBsupplier">
      <soap:operation soapAction="lbj/AddBsupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCustomer">
      <soap12:operation soapAction="lbj/AddCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBsupplier">
      <soap12:operation soapAction="lbj/AddBsupplier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://10.0.1.67:8081/MDMService.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://10.0.1.67:8081/MDMService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>